<header>
    <div class="container">
        <nav id="menu" class="menu-links">
            <a class="menu-item" asp-controller="Home" asp-action="index">Home</a>
            <a class="menu-item" asp-controller="Products" asp-action="index">Products</a>
            <a class="menu-item" asp-controller="Contact" asp-action="index">Contact</a>
        </nav>

        <div class="toggle">
            <button class="btn-toggle" data-option="toggle" data-target="#menu">
                
            </button>
        </div>
    </div>
</header>