@inject UserAdminService userAdminService


@* <partial name="/Views/Partials/_SignedInHeader.cshtml" /> *@
<div class="container-bo min-vh-100">
    <div>
        <h2 class="bo-title">Backoffice roles: </h2>

        

        @foreach (var user in await userAdminService.GetUsersAsync())
        {



            <div class="roles-container">
                <div class="assigned-role"> @user.Email </div>
                

                @foreach (var role in user.NameOfRoles)
                {
                    <div class="assigned-title">@role</div>
                }

            </div>
        }
    </div>
</div>