@model LoginViewModel

<div class="container">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-6">
        <form asp-action="Index" asp-controller="Login" method="post" novalidate>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" onkeyup="validateEmail" />
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" onkeyup="validatePassword" />
                <small><span asp-validation-for="Password" class="text-danger"></span></small>
            </div>

            <div class="rememberme">
                    
                    <input type="checkbox" asp-for="RememberMe" />
                    <label asp-for="RememberMe"> Remember Me</label>
            </div>

            <div class="d-grid mb-5">
                <button type="submit" class="btn btn-success mt-2">Login</button>
            </div>

        </form>
    </div>

</div>
</div>