<div class="container">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-6">
            <div class="access-denied-wrapper">
                <div class="access-denied">
                This is your profile page.
                </div>
            </div>
        </div>

    </div>
</div>